.profile__about {
  grid-area: about;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 389px) {
  .profile__about {
    /* width: 282px; */
    height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
