.popup__save-button {
  color: #fff;
  background-color: #000;
  margin-top: 48px;
  height: 50px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 389px) {
  .popup__save-button {
    margin-top: 45px;
    height: 46px;
  }
}
